In [1]:
# Import libraries
import numpy as np
import pandas as pd

In [2]:
# Load the data
path = 'data/Electric_Vehicle_Population_Data.csv'
df = pd.read_csv(path)

In [3]:
# First look
df.head(3)

,VIN (1-10),County,City,State,Postal Code,Model Year,Make,Model,Electric Vehicle Type,Clean Alternative Fuel Vehicle (CAFV) Eligibility,Electric Range,Base MSRP,Legislative District,DOL Vehicle ID,Vehicle Location,Electric Utility,2020 Census Tract
0,5YJ3E1EA0K,Thurston,Tumwater,WA,98512.0,2019,TESLA,MODEL 3,Battery Electric Vehicle (BEV),Clean Alternative Fuel Vehicle Eligible,220.0,0.0,22.0,242565116,POINT (-122.91310169999997 47.01359260000004),PUGET SOUND ENERGY INC,5.306701e+10
1,1N4BZ1DV4N,Island,Clinton,WA,98236.0,2022,NISSAN,LEAF,Battery Electric Vehicle (BEV),Eligibility unknown as battery range has not b...,0.0,0.0,10.0,183272785,POINT (-122.35936399999997 47.97965520000008),PUGET SOUND ENERGY INC,5.302997e+10
2,5YJ3E1EA0L,Snohomish,Snohomish,WA,98290.0,2020,TESLA,MODEL 3,Battery Electric Vehicle (BEV),Clean Alternative Fuel Vehicle Eligible,266.0,0.0,44.0,112552366,POINT (-122.09150499999998 47.91555500000004),PUGET SOUND ENERGY INC,5.306105e+10

In [4]:
print('shape of the data :',df.shape)
print('duplicate rows :', df.duplicated().sum())
print('null values in each column :')
null_df = df.isna().sum().reset_index(name='null_count')
null_df['null_%'] = (df.isna().sum()/len(df)*100).values
null_df.index = null_df['index']
null_df.drop('index',axis=1,inplace=True)
null_df

shape of the data : (135038, 17)
duplicate rows : 0
null values in each column :

                                                   null_count    null_%
index
VIN (1-10)                                                  0  0.000000
County                                                      8  0.005924
City                                                        8  0.005924
State                                                       0  0.000000
Postal Code                                                 8  0.005924
Model Year                                                  0  0.000000
Make                                                        0  0.000000
Model                                                     249  0.184393
Electric Vehicle Type                                       0  0.000000
Clean Alternative Fuel Vehicle (CAFV) Eligibility           0  0.000000
Electric Range                                              1  0.000741
Base MSRP                                                   1  0.000741
Legislative District                                      312  0.231046
DOL Vehicle ID                                              0  0.000000
Vehicle Location                                           10  0.007405
Electric Utility                                            8  0.005924
2020 Census Tract                                           8  0.005924